



<mat-card class="mat-elevation-z8">
    <mat-card-header>
        Progress
    </mat-card-header>
    <hr>
    <mat-card-content>
        <section class="example-section">
            <mat-progress-bar
                class="mat-progress-bar example-margin mat-custom"
                [color]="color"
                [mode]="mode"
                [value]="value"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
        </section>
        <div class="mx-2">
            <h4><strong>Male Users : </strong></h4>
            <h4><strong>Female Users :</strong> </h4>
        </div>
    </mat-card-content>
</mat-card>

